* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column-reverse; */
  background-color: black;
}
.maindiv {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: none;
  transition: all 500ms;
  /* background-color: red; */
  /* transform: rotate(30deg); */
  box-shadow: 0px 0px 20px rgb(153, 55, 245) ;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
}
.main {
  width: 150px;
  height: 150px;
  background-color: rgb(153, 55, 245);
  transition: all 500ms;
  pointer-events: auto;
  font-size: 50px;

}
.maindiv:has(.main1:hover){
  transform: rotateY(-20deg) rotateX(20deg);
}
/* .main1:hover{
  box-shadow: 7px 7px 7px 50px rgb(166, 92, 235);
} */

.maindiv:has(.main3:hover) {
  transform: rotateY(-20deg) rotateX(-20deg);
}

.maindiv:has(.main7:hover) {
  transform: skewY(-5deg);
}

.maindiv:has(.main9:hover) {
  transform: skewY(5deg);
}
.main5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  color: #fff;
  font-size: xxx-large;
  text-align: center  ;
  border: none;
  background-color: transparent;
}
.btn:hover{
  cursor: pointer;
}
.main:hover{
  cursor: pointer;
}