.common ul:nth-child(2){
    background-color: yellow;
}

.common p:nth-child(6){
    background-color: blue;
}
.common p:nth-child(8),
.common p:nth-child(10){
    background-color: green;
}
.common p:nth-child(5){
    color: red;
    border: 5px solid purple;
    font-weight: bold;
}
.common a:nth-child(13),
.common a:nth-child(14){
    background-color: yellow;
}