* {
    padding: 0;
    margin: 0;
    text-align: left;
}

.main {
    display: flex;
    justify-content: center;
    align-items: left   ;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

.image {
    position: relative;
}

.trending {
    padding: 20px;
    position: absolute;
    width: 100px;
    left: 0;
    top: 300px;
    background-color: #fff;
}

p{
    color: gray ;
    text-align: left;

}

